@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
  font-family: "DM Serif Display", serif !important;
}

p, a  {
  font-family: serif
}

.jost {
  font-family: "Jost", sans-serif !important;
  font-weight: 400px;
  font-size: 18px;
  line-height: 27px;
  color: #4D5053;
}
.pad {
  padding: 49px 35px 0;
}
.padd {
  padding: 25px 35px 45px;
}
@import "tailwindcss";

@theme {
  --color-gray: #4D5053;
  --color-b-col: #E7E7E7;
  --color-dark: #292F36;
  --color-date-col: #4D5053;
  --color-btn: #F4F0EC;
  --color-btn2: #CDA274;
  --color-line: #E5E5E5;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-inline: 20px;
}

.room {
  background-image: url('../src/assets/images/room.png');
  background-size: cover;
  background-position: center;
  padding: 200px;
  height: 100vh;

}


.bag-color{
  background-color: #F4F0EC;
  background-size: cover;
}
.bag-white{
  background-color: #FFFFFF;
  background-size: cover;
}
.fontJost {
  font-family: "Jost", sans-serif !important;
}

.radius {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

button {
  cursor: pointer;
}

.Jost {
  font-family: "Jost", sans-serif;
}
